[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
pgbackup = {path = "./dist/pgbackup-0.1.0-py3-none-any.whl"}

[requires]
python_version = "3.7"
